header {
  position: relative;
  height: 100%;
  padding: 1rem;
}

header::before {
  content: "";
  background-image: url("/public/images/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(30%) brightness(55%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

header nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav > span:first-child {
  font-weight: 700;
}

header nav button {
  border: none;
  background-color: transparent;
  color: white;
}

.link {
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

.mask {
  position: relative;
  padding: 0;
  height: 20px;
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}
.link:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

.mobile-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: 3.5rem;
  width: 90%;
  gap: 1.75rem;
  padding: 3rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 1rem);
  border-radius: 5px;
}

.mobile-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

header .content {
  padding: 8rem 0 0 0;
  color: white;
}

header .content > div:first-child {
  display: flex;
  width: 100%;
  gap: 2rem;
}

header .content div:first-child div {
  display: flex;
  flex-direction: column;
}

header .content > div:first-child span:first-child {
  font-size: 40px;
  font-weight: 700;
}

header .content > div:nth-child(2) {
  margin: 4rem 0;
}

header .content > div:last-child > div:first-child,
header .content > div:last-child > div:last-child {
  display: none;
}

/*....main.....*/

main section:first-child,
main section:nth-child(2),
main section:nth-child(3),
main section:nth-child(4) {
  padding: 1rem;
  margin-top: 2rem;
  min-height: 100vh;
}

main section:first-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  gap: 3.5rem;
  margin-top: 5rem;
}

main section:first-child span,
main section:nth-child(2) span {
  color: #777;
  font-size: 15px;
  font-weight: 400;
}

main section:first-child > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main section:first-child div {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center;
}

main section:first-child div h2 {
  font-weight: normal;
}

main section:first-child div > div {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  height: 100%;
  width: 100%;
}

main section:first-child div > div span {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

main section:nth-child(2) p,
main section:nth-child(3) p {
  font-size: 15px;
  font-weight: 400;
  color: black;
}

main section:first-child div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  gap: 0.5rem;
  width: 100%;
}

main section:first-child > div:first-child {
  display: block;
}

main section:first-child div img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  filter: brightness(65%);
  border-radius: 5px;
}

main section:nth-child(2) > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

main section:nth-child(2) div div {
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
  padding: 2rem 1rem !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

main section:nth-child(2) > div > div h3 {
  font-size: 50px !important;
  margin: 0;
}

main section:nth-child(2) div div:hover h3 {
  padding-left: 3rem;
  transition: all 0.5s linear;
}

main section:nth-child(3) div:first-child > div div {
  width: 100%;
  height: 300px;
  position: relative;
}

main section:nth-child(3) div:first-child > div > div:nth-child(2),
main section:nth-child(3) div:first-child > div > div:last-child {
  visibility: hidden;
  display: none;
}

main section:nth-child(3) div:first-child > div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(45%);
  /* filter: grayscale(80%); */
}

main section:nth-child(3) div span {
  color: white;
  position: absolute;
  z-index: 2;
}

main section:nth-child(3) div span:first-child {
  border: 1px white solid;
  right: 10px;
  top: 10px;
  font-size: 0.625rem;
  padding: 5px 10px;
  border-radius: 25px;
}

main section:nth-child(3) div span:last-child {
  bottom: 5px;
  left: 5px;
  font-size: 0.9375rem;
}

main section:nth-child(3) button {
  border-radius: 0.3125rem;
  background: #502e1c;
  border: none;
  color: white;
  padding: 0.75rem 1rem;
  font-size: 15px;
  font-weight: 400;
}

main section:nth-child(4) {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

main section:nth-child(4) h2 {
  font-size: 40px;
  width: 100vw;
}

main section:nth-child(4) p {
  font-weight: 600;
  font-size: 20px;
  max-width: 50rem;
}

main section:nth-child(4) button {
  background-color: transparent;
  border: 1px black solid;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  font-family: "Inter";
}

footer {
  padding: 2rem 2rem 0 2rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

footer div > span {
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 700;
}

footer > div > div:nth-child(2) a {
  text-decoration: none;
  color: black;
  margin: 0 0.5rem;
  font-size: 0.9375rem;
  font-weight: 500;
}

footer > div:last-child div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  color: black;
  padding: 5px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
}

footer > span {
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.65rem;
}

footer > img {
  max-width: 100vw;
  height: 100%;
}

.desktop-links,
.desktop-nav-btns,
header .content > div:nth-child(3),
header .content > div:last-child {
  display: none;
}

/*bigger screens*/
@media screen and (min-width: 800px) {
  header {
    height: 100vh;
    margin: 1rem;
    padding: 2rem;
  }

  header::before {
    border-radius: 10px;
  }

  .hamburger {
    display: none;
  }

  .desktop-links {
    display: flex;
    gap: 3rem;
  }

  .desktop-links a > span div span {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 15px;
  }

  .desktop-nav-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .desktop-nav-btns button {
    font-family: "Inter", sans-serif;
    border: none;
    background-color: white;
    color: black;
    padding: 0.5rem 1.875rem;
    font-weight: 600;
    font-size: 15px;
    border-radius: 1.875rem;
    cursor: pointer;
  }

  .desktop-nav-btns button:first-child {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .content div:first-child {
    display: none;
  }

  header .content {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  header .content > div:nth-child(2),
  header .content > div:nth-child(3) {
    margin: 0;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  header .content > div:nth-child(2) {
    overflow: hidden;
  }

  header .content > div:nth-child(2) p {
    max-width: 300px;
    font-weight: 300;
  }

  header .content > div:nth-child(2) h1 {
    font-size: 2.5rem;
    font-weight: 500;
    max-width: 600px;
  }

  header .content > div:nth-child(3) div {
    border: 1px white solid;
    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;
    border-radius: 100%;
    padding: 5px;
    display: block;
    cursor: pointer;
  }

  header .content > div:nth-child(3) > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 100%;
    background-color: white;
    width: 100%;
    height: 100%;
    color: black;
    padding: 0.5rem;
    text-align: center;
  }

  header .content > div:nth-child(3) > div div span {
    font-size: 13px;
    font-weight: 500;
  }

  header .content > div:last-child > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 15px;
    gap: 0.75rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  header .content > div:last-child div:first-child div {
    display: block;
  }

  header .content div:last-child div:first-child h2 {
    font-size: 18px;
    max-width: 200px;
  }

  header .content div:last-child div:first-child p,
  header .content > div:last-child > div:first-child > span:last-child {
    font-size: 12px;
    margin: 5px 0 0 0;
    color: #909090;
    font-weight: 500;
  }

  header .content > div:last-child > div:first-child > span {
    font-weight: 600;
    font-size: 15px;
  }

  header .content div:last-child div:first-child img {
    width: 175px;
    filter: brightness(75%);
    border-radius: 5px;
  }

  header .content > div:last-child > div:nth-child(2) {
    display: block;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    gap: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  header .content div:last-child > div:nth-child(2) h2 {
    font-size: 18px;
  }

  header .content > div:last-child > div:nth-child(2) div {
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.75rem;
    margin: 1rem 0;
    cursor: pointer;
  }

  header .content div:last-child > div:nth-child(2) div p {
    font-size: 15px;
    font-weight: 500;
  }

  header .content > div:last-child > div:last-child {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  header .content > div:last-child > div:last-child div {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
    color: white;
    gap: 0;
  }

  header .content div:last-child > div:last-child div span:first-child {
    font-size: 48px;
    font-weight: 600;
  }

  header .content div:last-child > div:last-child div span:last-child {
    font-weight: 300;
    font-size: 12px;
    color: white;
    margin: 0;
    padding: 0;
  }

  main section {
    min-height: 100vh;
  }

  main > section:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
    width: 100vw;
    margin-top: 5rem;
    overflow: hidden;
  }

  main section:first-child > span {
    font-size: 24px;
  }

  main section:first-child > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  main section:first-child > div > div {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  main section:first-child > div h2 {
    font-weight: 500;
    max-width: 20rem;
  }

  main section:first-child > div > div span {
    font-size: 36px;
  }

  main section:first-child > div:last-child {
    height: 100%;
    width: 50%;
  }

  main section:first-child > div:last-child img {
    width: 23.75rem;
    height: 39.875rem;
    flex-shrink: 0;
    display: block;
  }

  main section:nth-child(2) {
    margin-top: 5rem;
  }

  main section:nth-child(2) p {
    max-width: 23rem;
  }

  main section:nth-child(2) > div {
    margin-top: 4rem;
  }

  main section:nth-child(2) > div > div h3 {
    font-size: 64px !important;
  }

  main section:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  main section:nth-child(3) div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    height: 100%;
    width: 100%;
  }

  main section:nth-child(3) div:first-child h2 {
    font-size: 64px;
  }

  main section:nth-child(3) > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    height: 100%;
    width: 100%;
  }

  main section:nth-child(3) > div:first-child > div {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    width: 100%;
    gap: 1rem;
  }

  main section:nth-child(3) div:first-child > div > div:nth-child(2),
  main section:nth-child(3) div:first-child > div > div:last-child {
    visibility: visible;
    position: relative;
    display: block;
    width: 100%;
  }

  main section:nth-child(3) > div > div:first-child div img {
    height: 300px;
  }

  main section:nth-child(3) > div:last-child {
    width: 30%;
  }

  main section:nth-child(3) h2 {
    margin: 0;
    margin-top: 15px;
  }

  main section:nth-child(4) h2 {
    font-size: 94px;
    text-wrap: nowrap;
    margin-bottom: 30px;
  }

  footer {
    gap: 6rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  footer > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer > span {
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: 2.6rem;
  }

  footer > img{
   
    height: 500px;
    width: 100vw;
    object-fit: cover;
    filter: brightness(45%);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}

@media screen and (min-width: 800px) {
  main section:first-child > div:last-child img:first-child {
    display: none;
  }
}

@media screen and (min-width: 920px) {
  header .content > div:last-child {
    display: block;
  }
}

@media screen and (min-width: 1350px) {
  main section:first-child > div:last-child img:first-child {
    display: block;
  }
}

/*fade animation*/
.fade-container {
  overflow: hidden;
}

.fade-container h1 {
  margin: 0;
  transform: translateX(50%);
}

.backUp {
  transform: translateX(0);
}

.op-class {
  opacity: 0;
}
.fadeIn {
  opacity: 1;
  transition: opacity 4s;
}
